# Secretos
.env

# Certificados SSL (los archivos .pem no se suben al repo)
*.pem
certs/key.pem
certs/cert.pem

# Python
__pycache__/
venv/
*.pyc

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
