# --- CONFIGURACIÓN DE BASE DE DATOS ---
# Formato: postgresql://usuario:password@localhost:puerto/nombre_db
DATABASE_URL=postgresql://postgres:root@localhost:5432/inmobiliaria_db

# --- SEGURIDAD ---
# Esto se usa para firmar los tokens JWT. En producción debe ser un string largo y aleatorio.
SECRET_KEY=clave_secreta_cambiame_en_produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
